.season_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main {
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: fit-content;
    margin: 0 auto;
}

.img_container {
    background-image: url("https://placehold.co/300x450?text=Poster+Image");
    width: 300px;
    height: 450px;
    margin: 0 auto;
}

.img_container img {
    width: 300px;
    height: 450px;
    object-fit: cover;
}

.details {
    width: 300px;
    text-align: center;
}

.details[open] summary {
    color: var(--main-font-color);
    width: 100%;
}

.synopsis {
    width: fit-content;
    cursor: pointer;
}

.synopsis:hover {
    color: var(--main-font-color);
}

.synopsis__text {
    max-width: 100%;
}