.tvCast_container {
    position: relative;
}

.full_cast_cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(138px, 138px));
    gap: 1rem;
    justify-content: center;
}

.title {
    font-family: var(--main-font-family);
    color: var(--main-font-color);
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 3rem;
}