.genres__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.genres__genreType {
    cursor: pointer;
    font-family: var(--btn-font-family);
    color: #FFFFFF;
}
/* .genres__genreType:hover {
    color: var(--main-font-color);
} */

.genres__genreType__selected {
    color: var(--main-font-color);
    font-family: var(--btn-font-family);
    cursor: pointer;
    text-decoration: underline;
}

@media (max-width: 576px) {
    .genres__container {
        gap: 1rem;
    }
}

@media(hover: hover) and (pointer: fine) {
    .genres__genreType:hover {
        color: var(--main-font-color);
    }
}