.switcher__btn {
  padding: 10px 10px;
  border: none;
  font-family: var(--btn-font-family);
  color: #ffffff;
  font-weight: normal;
  font-size: 1rem;
  background-color: transparent;
  cursor: pointer;
}

.switcher__btn:hover {
  outline: 2px solid var(--main-font-color);
  border-radius: 10px;
}

.clicked {
  outline: 2px solid var(--main-font-color);
  border-radius: 10px;
}
