.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.row {
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.link {
    text-decoration: none;
    color: var(--main-font-color);
}
.moviesTVLink {
    font-size: 4rem;
}
.trendingLink {
    font-size: 3rem;
}
.divider {
    text-decoration: none;
    color: var(--main-font-color);
    font-size: 4rem;
}

.link:hover {
    color: #FFFFFF;
    transform: scale(1.1);
}

@media (max-width: 480px) {
    .link {
        font-size: 3rem;
    }
    .trendingLink {
        font-size: 2.5rem;
    }
    .divider {
        font-size: 2rem;
    }
}

@media (max-width: 440px) {
    .link {
        font-size: 2.5rem;
    }
    .trendingLink {
        font-size: 2rem;
    }
    .divider {
        font-size: 2.5rem;
    }
}

@media (max-width: 320px) {
    .link {
        font-size: 2.4rem;
    }
    .trendingLink {
        font-size: 1.9rem;
    }
    .divider {
        font-size: 2.4rem;
    }
}

@media (max-width: 280px) {
    .link {
        font-size: 2rem;
    }
    .trendingLink {
        font-size: 1.5rem;
    }
    .divider {
        font-size: 2rem;
    }
}