.visibleText {
    color: #FFFFFF;
    display: flex;
}

.hiddenText {
    display: none;
}

.dots {
    display: inline;
}

.more, .hideSpan {
    color: var(--main-font-color);
    font-size: 1rem;
    display: block;
    cursor: pointer;
}
.more:hover, .hideSpan:hover {
    color: #FFFFFF;
}

.hidden {
    display: none;
}

.visible {
    display: inline;
}

.visibleSpan {
    display: block;
}

