.details__container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-family: var(--btn-font-family);
    color: #FFFFFF;
    margin: 0 auto;
}

.detail__container {
    text-align: left;
}

.detail {
    font-size: 1.3rem;
    color: var(--main-font-color);
}