.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 10px;
  background: #d3d3d3;

  max-width: 100%;
}
.searching_glass {
    width: 25px;
    height: 25px;
    background-image: url('../../assets/searching-glass.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
}
.form_input {
  padding-inline: 5px;
  padding-block: 5px;
  background-color: #D3D3D3;
  border: none;
}
.form_input:focus {
    outline: none;
    background-color: #D3D3D3;
}
.form_input::placeholder {
  color: var(--color-background-primary);
  font-family: var(--btn-font-family);
}

.send_btn {
    width: 25px;
    height: 25px;
    border: none;
    background-image: url('../../assets/send-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    background-color: inherit;
}
.send_btn:hover {
    transform: scale(1.1);
}
.send_btn:active {
    transform: scale(.9);
}

@media (max-width: 576px) {
  .form {
    padding-inline: 10px;
  }

  .form_input::placeholder {
    font-size: .8rem;
  }

  .searching_glass {
    width: 15px;
    height: 15px;
    background-size: 15px;
  }
  .send_btn {
    width: 15px;
    height: 15px;
    background-size: 15px;
  }
}