:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #3B4145;
  color: #99AABB; */
  --color-background-primary: #3B4145;
  --main-font-family: 'Changa One', sans-serif;
  --btn-font-family: 'Alata', sans-serif;
  --main-font-color: #FFC200;
  --page-title-font-size: 4rem;

  font-family: var(--main-font-family);

  
  background-color: var(--color-background-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


