:root {
  --color-background-primary: #3B4145;
  --main-font-family: 'Changa One', sans-serif;
  --btn-font-family: 'Alata', sans-serif;
  --main-font-color: #FFC200;
  --page-title-font-size: 4rem;

  font-family: var(--main-font-family);

  
  background-color: var(--color-background-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


